* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#appTemp {
    width: 40%;
    height: 100vh;
    border: 5px solid black;

}
#appReact {
    width: 40%;
    height: 100vh;
    /*border: 5px solid black;*/
    background-color: beige;

}
#temp {
    display: flex;
    justify-content: space-around;
}
.container {
    width: 100%;
    height: 100%;
}
/* Title content  component*/
.title {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;

}

.m{
    background-color: red;
    padding: 5px;
    color: white;
}
.a {
    background-color: yellow;
    padding: 5px;
    color: black;
}
.s {
    background-color: blue;
    padding: 5px;
    color: white;
}
.t{
    background-color: green;
    padding: 5px;
    color: white;
}
.e {
    background-color: orange;
    padding: 5px;
    color: white;
}
.r{
    background-color: brown;
    padding: 5px;
    color: white;
}

.text {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* button component*/
.mainBtn{
    display: flex;
    width: 100%;
    height: 5%;
}
.mainBtn>button {
    flex:1;
    border-radius: 5px;
    outline: none;
    font-weight: bold;
}


/* choose Box Component*/

.chooseBox{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
}
.circleAnswer{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: lightgray;
}
.circle {
    border-radius: 50%;
    height: 25px;
    width: 25px;
}
.red{
    background-color: red;
}
.yellow {
    background-color: yellow;
}
.blue {
    background-color: blue;
}
.green {
    background-color: green;
}
.orange {
    background-color: orange;
}
.brown {
    background-color: brown;
}


/* Main component */

.mainBox{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    align-items: center;
}

.answer {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.checked {
    width: 15%;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    background-color:#c9cac4;
}
.miniCircle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;

}

.black {
    background-color: black;
}
.cross {
    background-color: white;
}
.focus {
    border-style: dashed;
}
